<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - Connected Garden</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script type=text/javascript src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>  
  <script type=text/javascript src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<nav>
  <h1>Connected Garden</h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>